<!DOCTYPE html>
<html>
<body>
	<p>"Hello, this is a test of Restful API"</p>
	<h3>Click to test CRUD response</h3>
	<button type="button">Post (Create)</button>
	<button type="button">Get (Read)</button>
	<button type="button">Put (Udpate)</button>
	<button type="button">Delete (Delete)</button>
</body>
</html>
